<form [formGroup]="passwordForm" (ngSubmit)="submit()" class="actions">
  <ion-input
    type="password"
    label="New Password"
    labelPlacement="floating"
    fill="outline"
    formControlName="password"
  ></ion-input>

  <ion-input
    type="password"
    label="Confirm Password"
    labelPlacement="floating"
    fill="outline"
    formControlName="confirmPassword"
    (keyup.enter)="submit()"
  ></ion-input>

  @if (passwordForm.valid && !passwordsMatch()) {
    <p class="error-text">Passwords do not match.</p>
  }

  <ion-button
    expand="block"
    type="submit"
    [disabled]="loading() || passwordForm.invalid || !passwordsMatch()"
  >
    @if (loading()) {
      <ion-spinner name="crescent"></ion-spinner>
    } @else {
      <ion-icon slot="start" name="lock-closed-outline"></ion-icon>
      Reset Password
    }
  </ion-button>
</form>
