<form (submit)="submit()" class="actions">
  <app-login-form #loginForm [(value)]="loginModel"></app-login-form>

  <ion-button expand="block" type="submit" [disabled]="loading() || loginForm.form().invalid()">
    @if (loading()) {
      <ion-spinner name="crescent"></ion-spinner>
    } @else {
      <ion-icon slot="start" name="log-in-outline"></ion-icon>
      Sign In
    }
  </ion-button>

  <a routerLink="/auth/forgot-password" class="auth-link">Forgot password?</a>
  <a routerLink="/auth/signup" class="auth-link">Don't have an account? Sign up</a>
</form>
