<form (submit)="$event.preventDefault(); submit()" novalidate class="actions">
  <app-login-form [(form)]="form"></app-login-form>

  <ion-button
    expand="block"
    type="submit"
    [disabled]="isSubmitting() || !canSubmit()"
    [attr.aria-label]="isSubmitting() ? 'Signing in' : null"
  >
    @if (isSubmitting()) {
      <ion-spinner name="crescent"></ion-spinner>
      <span class="sr-only">Signing in...</span>
    } @else {
      <ion-icon slot="start" name="log-in-outline"></ion-icon>
      Sign In
    }
  </ion-button>

  <a routerLink="/auth/forgot-password" class="auth-link">Forgot password?</a>
  <a routerLink="/auth/signup" class="auth-link">Don't have an account? Sign up</a>
</form>
