<form (submit)="$event.preventDefault(); submit()" novalidate class="actions">
  <app-signup-form [(form)]="form"></app-signup-form>

  <ion-button
    expand="block"
    type="submit"
    [disabled]="isSubmitting() || !canSubmit()"
    [attr.aria-label]="isSubmitting() ? 'Signing up' : null"
  >
    @if (isSubmitting()) {
      <ion-spinner name="crescent"></ion-spinner>
      <span class="sr-only">Signing up...</span>
    } @else {
      <ion-icon slot="start" name="person-add-outline"></ion-icon>
      Sign Up
    }
  </ion-button>

  <a routerLink="/auth/login" class="auth-link">Already have an account? Sign in</a>
</form>
