<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/settings"></ion-back-button>
    </ion-buttons>
    <ion-title>Account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Account</ion-title>
    </ion-toolbar>
  </ion-header>

  @if (loading()) {
    <div class="flex justify-center pt-16">
      <ion-spinner name="crescent"></ion-spinner>
    </div>
  } @else {
    <div class="ion-padding">
      <app-profile-form #profileForm [(value)]="profileModel" formName="Account"></app-profile-form>

      <ion-button
        expand="block"
        class="ion-margin-top"
        [disabled]="saving() || !profileForm.form().valid()"
        (click)="save()"
      >
        @if (saving()) {
          <ion-spinner name="crescent"></ion-spinner>
        } @else {
          Save
        }
      </ion-button>
    </div>
  }
</ion-content>
