<form [formGroup]="signupForm" (ngSubmit)="submit()" class="actions">
    <ion-input
      type="email"
      label="Email"
      labelPlacement="floating"
      fill="outline"
      formControlName="email"
    ></ion-input>

    <ion-input
      type="password"
      label="Password"
      labelPlacement="floating"
      fill="outline"
      formControlName="password"
      (keyup.enter)="submit()"
    ></ion-input>

    <ion-button
      expand="block"
      type="submit"
      [disabled]="loading() || signupForm.invalid"
    >
      @if (loading()) {
        <ion-spinner name="crescent"></ion-spinner>
      } @else {
        <ion-icon slot="start" name="person-add-outline"></ion-icon>
        Sign Up
      }
    </ion-button>

    <a routerLink="/auth/login" class="auth-link">Already have an account? Sign in</a>
</form>
