<ion-input
  type="password"
  label="New Password"
  labelPlacement="floating"
  fill="outline"
  [formField]="form.password"
  class="mb-2"
></ion-input>
@if (form.password().touched() && form.password().invalid()) {
  <p class="text-red-500 text-sm px-4">
    {{ form.password().errors()[0].message }}
  </p>
}

<ion-input
  type="password"
  label="Confirm Password"
  labelPlacement="floating"
  fill="outline"
  [formField]="form.confirmPassword"
></ion-input>
@if (form.confirmPassword().touched() && form.confirmPassword().invalid()) {
  <p class="text-red-500 text-sm px-4">
    {{ form.confirmPassword().errors()[0].message }}
  </p>
}
