@if (sent()) {
  <div class="sent-message">
    <h2>Check your email</h2>
    <p>We've sent a password reset link to your email address.</p>
    <ion-button expand="block" routerLink="/auth/login">Back to Login</ion-button>
  </div>
} @else {
  <p class="instructions">
    Enter your email address and we'll send you a link to reset your password.
  </p>

  <form (submit)="submit()" class="actions">
    <app-forgot-password-form #forgotForm [(value)]="emailModel"></app-forgot-password-form>

    <ion-button expand="block" type="submit" [disabled]="loading() || forgotForm.form().invalid()">
      @if (loading()) {
        <ion-spinner name="crescent"></ion-spinner>
      } @else {
        <ion-icon slot="start" name="mail-outline"></ion-icon>
        Send Reset Link
      }
    </ion-button>
  </form>
}
